
html, body {
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
}

#container {
  display:block;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.preload {
  width: 0;
  height: 0;
  padding: 0;
  margin:0 ;
  display:inline;
}

.backgroundContainer {
  width:100%;
  height:33.33333333333%;
  padding:0;
  background-color:#000000;
  margin:0;
  overflow:hidden;
}
.background {
  background-color: #00bfff;
  width:100%;
  height:100%;
  display:block;
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: cover;
  overflow:hidden;
}

.backgroundTop {
  position: relative;
  z-index: 0
}

.container {
  position: absolute;
  z-index: 500;
  width:100%;
  height:100%;
}

.backgroundBottom {
  z-index: -1;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.buildingContainer {
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: bottom center; 
  background-size: contain;
  overflow:hidden;
  position:relative;
  display:block;
  top:10%;
  z-index:1000;
}

.buildingContainerBottom {
  z-index: 999;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom center; 
  background-size: contain;
  overflow:hidden;
}

.characterContainer {
  position:absolute;
  z-index:1001;
  width:100%;
  bottom:0;
  display:inline;
}

.characterContainer > img {
  height:100%;
  width:auto;

}

#time {
  font-weight:bold;
  font-size:2em;
  position:absolute;
  bottom:0;
  right: 0;
  z-index:5000;
  padding:0.25em;
}

#highrise {

}

#middle {
  
}

#slums {
  
}